// Global Foundation Settings
@import "settings";
@import "compass/css3";
// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing
@include font-face("Metrophobic", font-files("Metrophobic-webfont.eot", "Metrophobic-webfont.svg", "Metrophobic-webfont.ttf", "Metrophobic-webfont.woff"));
$topbar-dropdown-bg: #274C74;
$topbar-link-color: #fff;
// @import "foundation/foundation-global";
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms";
// @import "foundation/components/custom-forms";
// @import "foundation/components/button-groups";
// @import "foundation/components/dropdown-buttons";
// @import "foundation/components/split-buttons";
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

/*****
*	
*/
body{
	background: image-url('attic-main.jpg') no-repeat center center fixed;

}
h1, h3, h2{
	font-family:  $body-font-family;
	text-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
	color: #333;
}
.button{
	padding: 0.75em 1.5em 0.8125em !important;
}
.relative{
	position: relative;
}
.centered{
	text-align: center;
}
.logo{
	span{
	background: image-url('logo.png') no-repeat;
	height: image-height('logo.png') + 10px;
	width: image-width('logo.png');
	display: block;
	background-position: 0 50%;
	}
}
.search-button{
	@include button;
	$bg: $primary-color;
}
.icon-search{
	background: image-url('icon-search.png') no-repeat 50% 50%;
	width: image-width('icon-search.png');
	height: image-height('icon-search.png');
	display: block;
}
.postfix.radius{
	font-size: 23px;
	width: 100%;
	padding: 15px 0;
	@include button-base;
	@include button-style($primary-color);
	border-color: $primary-color;
	&:hover{
	}
}
.home-pic{
	height: 550px;
	margin: 0 auto;
	width: 100%;
	input{
		font-size: 23px;
	}
}
.top-bar{
}

.menu-icon{
	a{

	}
}
.home-msg{
	padding: 150px 0 0 0;
	h1{
		background-color: rgba(#274c74, 0.3);

	}
}
.centered span{
	background-color: rgba(#edb90a, 0.8);
	padding: 0 3px;
	color: #fff;
	
}
.how-it-works{
	padding: 25px 0;
	img{
		margin: 0 auto
	}
	h4{
		text-align: center;
	}
	p{
		text-align: center;
	}
}
.footer-link{
	margin: 100px 0;
	a{
		text-decoration: underline;
		color: #fff;
		&:hover{
			color: $primary-color;
		}
	}
}
.pac-container{
	@include transition(all 1s ease-in);
	border: none !important;

}
.pac-item{
	padding: 0.5em;
	@include transition(all 0.1s ease-in);
	&:hover{
		background: $topbar-dropdown-bg;
		color: #fff;
	}
	&:active{
		background: $primary-color;
	}
}
.pac-container > .pac-item:nth-child(odd){
	background: rgba(#ececec, 0.7);
	&:hover{
		background: $topbar-dropdown-bg;
	}
}
#result-page-pane{
	width: 345px;
}
.search-pane {
    height: 400px;
    margin-left: -0.9375em;
    	input{
    		font-size: 16px !important;
    	}
    	.postfix.radius{
			font-size: 16px !important;
			padding: 10px 0 !important;
    	}
}
.title{
	text-align: center;
}
.section-container.tabs section .title, .section-container.tabs .section .title{
	width: 50% !important;
	top: 0 !important;
}

.row.price-slide {
    text-align: center;
    border-bottom: 2px solid #ececec;
    padding: 10px;
}
.row.neighbourhood {
	border-bottom: 2px solid #ececec;
    padding: 10px !important;
	h4{
		text-align: center;
	}
}
.row.refine {
	@extend .row.price-slide;
	border-bottom: none;
}
.row.sqft-slide {
	@extend .row.price-slide;
}
.row.search-row {
	@extend .row.price-slide;
}
.custom label{
	padding: 2px;
}
/**JQUERY SLIDER*/

.slider {
  width: auto;
}

.slider > .dragger {
  background: #8DCA09;
  background: -webkit-linear-gradient(top, #8DCA09, #72A307);
  background: -moz-linear-gradient(top, #8DCA09, #72A307);
  background: linear-gradient(top, #8DCA09, #72A307);

  -webkit-box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);
  box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  border: 1px solid #496805;
  width: 16px;
  height: 16px;
}

.slider > .dragger:hover {
  background: -webkit-linear-gradient(top, #8DCA09, #8DCA09);
}

.slider > .track {
  background: #ccc;
  background: -webkit-linear-gradient(top, #bbb, #ddd);
  background: -moz-linear-gradient(top, #bbb, #ddd);
  background: linear-gradient(top, #bbb, #ddd);

  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  border: 1px solid #aaa;
  height: 4px;
}
.output{
	margin: 0 auto;
}
/** LIST VIEW **/
.list-wrapper {
    height: 519px;
    overflow: hidden;
}
.list-item {
    border-bottom: 1px solid #DCDCDC;
    padding: 10px 0 !important;
}
.list-item span{
	display: block;
	padding: 3px 0;
}
.list-item-month{
	display: inline !important;
}
.row.list-item-title{
	margin-bottom: 10px;
	font-size: 18px;
}
.price{
	display: inline !important;
	font-size: 30px;
}
/** END JQUERY SLIDER **/

@media #{$topbar-media-query} {
	.home-msg{
	padding: 300px 0 0 0;
	}
	.home-pic{
	height: 660px;
	margin: 0 auto;
	width: 100%;

		input{
			font-size: 23px;
		}	
	}
	.top-bar-section ul{
		height: 47px !important;
		margin: 11px 0;
	}
	.top-bar-section li a:not(.button){
		line-height: 45px;
	}
	ul li{
	& > a{
		@include transition(all 0.2s ease-in);
		background: $topbar-dropdown-bg !important;
		color: $topbar-link-color !important;
		&:hover{
			background: $primary-color !important;
			color: #fff !important;
		}
	}
}
}
@media only screen and (min-width: 1600px){
	body{
		@include background-size(cover);
	}
}
		